
    <div class="surface-card border-round">
        <div class="flex flex-column gap-3 md:max-md:max-w-30rem w-screen max-w-17rem w-screen max-w-17rem">
            <form [formGroup]="leadForm" (ngSubmit)="saveLead()">
              <!-- Name -->
              <div>
                <span class="font-medium text-900 block my-2">Name</span>
                <p-inputGroup>
                  <input
                    pInputText
                    formControlName="name"
                    placeholder="Name"
                    class="md:max-w-30rem w-screen max-w-17rem"
                    type="text"
                  />
                </p-inputGroup>
                <div *ngIf="leadForm.get('name')?.invalid && leadForm.get('name')?.touched" class="error">
                  Name is required
                </div>
              </div>
          
              <!-- Email -->
              <div>
                <span class="font-medium text-900 block my-2">Email</span>
                <p-inputGroup>
                  <input
                    pInputText
                    formControlName="email"
                    placeholder="Email"
                    class="md:max-w-30rem w-screen max-w-17rem"
                    type="email"
                  />
                </p-inputGroup>
                <div *ngIf="leadForm.get('email')?.invalid && leadForm.get('email')?.touched" class="error">
                  Invalid email address
                </div>
              </div>
          
              <!-- Phone Number -->
              <div>
                <span class="font-medium text-900 block my-2">Phone Number</span>
                <p-inputGroup>
                  <input
                    pInputText
                    formControlName="phone"
                    placeholder="Phone Number"
                    class="md:max-w-30rem w-screen max-w-17rem"
                    type="tel"
                  />
                </p-inputGroup>
                <div *ngIf="leadForm.get('phone')?.invalid && leadForm.get('phone')?.touched" class="error">
                  Phone number is required and should be 10 digits
                </div>
              </div>
          
              <!-- Alternate Phone Number -->
              <div>
                <span class="font-medium text-900 block my-2">Alternate Phone Number</span>
                <p-inputGroup>
                  <input
                    pInputText
                    formControlName="alt_phone"
                    placeholder="Alternate Phone Number"
                    class="md:max-w-30rem w-screen max-w-17rem"
                    type="tel"
                  />
                </p-inputGroup>
              </div>
          
              <!-- Country -->
              <div>
                <span class="font-medium text-900 block my-2">Country</span>
                <div class="flex">
                  <p-dropdown
                    [formControlName]="'country'"
                    [options]="countries"
                    placeholder="Select Country"
                    optionLabel="name"
                    optionValue="value"
                    styleClass="md:max-md:max-w-30rem w-screen max-w-17rem w-screen max-w-17rem"
                                      ></p-dropdown>
                </div>
                <div *ngIf="leadForm.get('country')?.invalid && leadForm.get('country')?.touched" class="error">
                  Country is required
                </div>
              </div>
              
          
              <!-- State -->
              <div>
                <span class="font-medium text-900 block my-2">State</span>
                <div class="flex">
                  <p-dropdown
                    [formControlName]="'state'"
                    [options]="states"
                    placeholder="Select State"
                    styleClass="md:max-md:max-w-30rem w-screen max-w-17rem w-screen max-w-17rem"                  ></p-dropdown>
                </div>
                <div *ngIf="leadForm.get('state')?.invalid && leadForm.get('state')?.touched" class="error">
                  State is required
                </div>
              </div>
          
              <!-- College -->
              <div>
                <span class="font-medium text-900 block my-2">College</span>
                <div class="flex">
                  <p-dropdown
                    [formControlName]="'clg_id'"
                    [options]="colleges"
                    placeholder="Select College"
                    optionLabel="name"
                    optionValue="id"
                    styleClass="md:max-md:max-w-30rem w-screen max-w-17rem w-screen max-w-17rem"                  ></p-dropdown>
                </div>
                
                <div *ngIf="leadForm.get('clg_id')?.invalid && leadForm.get('clg_id')?.touched" class="error">
                  College is required
                </div>
              </div>
          
              <!-- Stream -->
              <div>
                <span class="font-medium text-900 block my-2">Stream</span>
                <div class="flex">
                  <p-dropdown
                    [formControlName]="'stream'"
                    [options]="streams"
                    placeholder="Select Stream"
                    styleClass="md:max-md:max-w-30rem w-screen max-w-17rem w-screen max-w-17rem"                  ></p-dropdown>
                </div>
                <div *ngIf="leadForm.get('stream')?.invalid && leadForm.get('stream')?.touched" class="error">
                  Stream is required
                </div>
              </div>
          
              <!-- Year of Admission -->
              <div>
                <span class="font-medium text-900 block my-2">Year of Admission</span>
                <div class="flex">
                  <p-dropdown
                    [formControlName]="'year_of_admission'"
                    [options]="years"
                    placeholder="Select Year"
                    styleClass="md:max-md:max-w-30rem w-screen max-w-17rem w-screen max-w-17rem"                  ></p-dropdown>
                </div>
                <div *ngIf="leadForm.get('year_of_admission')?.invalid && leadForm.get('year_of_admission')?.touched" class="error">
                  Year of admission is required
                </div>
              </div>
          
              <!-- Source -->
              <div>
                <span class="font-medium text-900 block my-2">Source</span>
                <div class="flex">
                  <p-dropdown
                    [formControlName]="'source'"
                    [options]="sources"
                    placeholder="Select Source"
                    styleClass="md:max-md:max-w-30rem w-screen max-w-17rem w-screen max-w-17rem"                  ></p-dropdown>
                </div>
                <div *ngIf="leadForm.get('source')?.invalid && leadForm.get('source')?.touched" class="error">
                  Source is required
                </div>
              </div>
          
              <!-- Counsellor -->
              <div>
                <span class="font-medium text-900 block my-2">Counsellor</span>
                <div class="flex">
                  <p-dropdown
                    [formControlName]="'lead_type'"
                    [options]="counsellors"
                    placeholder="Select Counsellor"
                    optionLabel="name"
                    optionValue="id"
                    styleClass="md:max-md:max-w-30rem w-screen max-w-17rem w-screen max-w-17rem"                  ></p-dropdown>
                </div>
                <div *ngIf="leadForm.get('lead_type')?.invalid && leadForm.get('lead_type')?.touched" class="error">
                  Counsellor is required
                </div>
              </div>
          
              <!-- Buttons -->
              <div class="flex align-items-center justify-content-center mt-3">
                <p-button
                  type="submit"
                  label="Save"
                  [disabled]="leadForm.invalid"
                  [style]="{'border-radius': 'var(--border-radius)', 'background-color': 'var(--primary-color)'}"
                ></p-button>
                <p-button
                  type="button"
                  label="Cancel"
                  class="ml-2"
                  [style]="{'border-radius': 'var(--border-radius)', 'background-color': 'var(--surface-800)'}"
                  (onClick)="ref.close(false)"
                ></p-button>
              </div>
            </form>
          </div>
    </div>
    <p-toast />
